zz* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto Slab', serif;
  background-image: none !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', serif;
}
.btn-blue{
background-color: white !important;
color: #007BD9 !important;
}
.banner-btn{
  color: #007BD9;
  font-weight: bold;
}
/* Header Styling Starts */
.navbar-nav li a {
  font-size: 15px;
  margin-right: 20px;
  color: white !important;
  font-weight: 500;
}

.fa-mobile-alt, .fa-envelope, .fa-caret-down {
color: #030f27;
font-size: 19px;
}

.fa-mobile-alt:hover, .fa-envelope:hover, .fa-caret-down:hover {
  color: white;
}

.fa-search:hover {
  color: #030f27;
}

.fa-bars {
  color: #030f27;
  font-size: 19px;
}

.fa-angle-down {
  color: #030f27;
}

.fa-user-check, .fa-user {
color: #007DB9;
font-size: 19px;
}

.fa-heart:hover, .fa-shopping-cart:hover,
.fa-user-check:hover, .fa-user:hover {
  color: white;
}

.wrapper {
  width: 100%;
  position: absolute;
  height: 100%;
  background-color: #030f27;
  clip-path: polygon(81% 0, 100% 0, 100% 50%, 100% 100%, 71% 100%);
}

.navbar-blue {
  background-image: linear-gradient(to right, #039ee6, #04e0e7);}

.form-control {
  color: #4A4A4A;
}

section {
  display: block;
  position: relative;
  box-sizing: border-box;
}

.clear {
  clear: both;
}

.clearfix::before,
.clearfix::after {
  content: "";
  display: table
}

.clearfix::after {
  clear: both
}

.clearfix {
  zoom: 1
}

.trans_200 {
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease
}

.trans_300 {
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease
}

.trans_400 {
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease
}

.trans_500 {
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease
}

.fill_height {
  height: 100%
}

.super_container {
  width: 100%;
  overflow: hidden
}

.prlx_parent {
  overflow: hidden
}

.prlx {
  height: 130% !important
}

.nopadding {
  padding: 0px !important
}

.button {
  display: inline-block;
  background: #007DB9;
  border-radius: 5px;
  height: 48px;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease
}

.button a {
  display: block;
  font-size: 18px;
  font-weight: 400;
  line-height: 48px;
  color: white;
  padding-left: 35px;
  padding-right: 35px
}

.button:hover {
  opacity: 0.8
}

.header {
  position: relative;
  width: 100%;
  z-index: 10
}

.header.scrolled .top_bar {
  display: none
}

.top_bar_contact {
  display: inline-block
}

.top_bar_contact_item {
  font-size: 16px;
  font-weight: 300;
  line-height: 56px;
  margin-right: 40px
}

.top_bar_contact_item:not(:first-child) {
  margin-right: 0px
}

.top_bar_contact_item a {
  font-size: 16px;
  font-weight: 300;
  line-height: 56px;
  color: white;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease
}

.top_bar_contact_item a:hover {
  color: #030f27;
}

.top_bar_icon {
  display: inline-block;
  margin-right: 14px;
  -webkit-transform: translateY(-2px);
  -moz-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  -o-transform: translateY(-2px);
  transform: translateY(-2px)
}

.top_bar_menu {
  display: inline-block
}

.top_bar_dropdown li {
  padding-left: 13px;
  padding-right: 13px
}

.standard_dropdown li {
  display: inline-block;
  position: relative;
  height: 56px
}

.standard_dropdown li li {
  display: block;
  width: 100%
}

.standard_dropdown li li a {
  display: block;
  width: 100%;
  border-bottom: solid 1px #030f27 !important;
  font-size: 16px
}

.standard_dropdown li:last-child a {
  border-bottom: none
}

.standard_dropdown li.hassubs>a i {
  display: inline-block;
  margin-left: 5px
}

.standard_dropdown li a {
  display: block;
  position: relative;
  font-size: 16px;
  font-weight: 300;
  color: #030f27;
  line-height: 56px;
  white-space: nowrap;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease
}

.btn-c {
  background-color: #007DB9 !important;
  border-radius: 5px;
}

.btn-c:hover {
  background-color: #030f27 !important;
}

.standard_dropdown li a:hover {
  color: #007DB9;
}

.standard_dropdown li a i {
  -webkit-transform: translateY(-1px);
  -moz-transform: translateY(-1px);
  -ms-transform: translateY(-1px);
  -o-transform: translateY(-1px);
  transform: translateY(-1px);
  font-size: 12px
}

.standard_dropdown li ul {
  display: block;
  position: absolute;
  top: 120%;
  left: 0;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  background-image: linear-gradient(#039ee641, #04dfe78f);  
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.1);
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -ms-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: all 0.3s ease;
  z-index: 1
}

.standard_dropdown li:hover>ul {
  top: 100%;
  visibility: visible;
  opacity: 1
}

.standard_dropdown ul ul {
  left: 100%;
  top: 0 !important
}

.top_bar_user a {
  display: inline-block;
  margin-left: 35px;
  color: white !important;
}

.user_icon {
  display: inline-block;
  margin-right: 7px;
  -webkit-transform: translateY(-2px);
  -moz-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  -o-transform: translateY(-2px);
  transform: translateY(-2px);
  width: 15px
}

.top_bar_user a:hover {
  color: #007DB9 !important;
}

.top_bar_user div {
  display: inline-block
}

.top_bar_user div:nth-child(2)::after {
  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: -13px;
  width: 1px;
  height: 17px;
  background: rgba(0, 0, 0, 0.1);
  content: ''
}

.top_bar_user a {
  font-size: 16px;
  font-weight: 300;
  line-height: 56px;
  color: #030f27;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease
}

.top_bar_user a:hover {
  color: #4A4A4A;
}

.header_main {
  z-index: 1
}

.header.scrolled .header_main {
  display: none
}

.header_main_item {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%)
}

.header_search {
  height: 120px;
}

.header_search_content {
  top: 50%;
  transform: translateY(100%);
}

.header_search_form_container {
  width: 60%;
  height: 50px;
  border: solid 2px #007DB9;
  border-radius: 3px
}

.header_search_form {
  width: 100%;
  height: 100%
}

.fa-search {
  color: white;
  font-size: 19px;
}

.header_search_input {
  display: block;
  position: relative;
  width: calc((100% - 50px) * 0.601);
  height: 100%;
  line-height: 50px;
  border: none !important;
  outline: none !important;
  padding-left: 26px;
  color: #363636 !important;
  float: left;
  /* background-color: #000000; */
  font-weight: bold;
}
.add-to-cart{
  color: #066fbe !important;
  font-weight: bold !important;
}
.header_search_input::-webkit-input-placeholder {
  font-size: 16px !important;
  font-weight: 300;
  line-height: 50px;
  color: white !important
}

.header_search_input:-moz-placeholder {
  font-size: 16px !important;
  font-weight: 300;
  line-height: 50px;
  color: white !important
}

.header_search_input::-moz-placeholder {
  font-size: 16px !important;
  font-weight: 300;
  line-height: 50px;
  color: white !important
}

.header_search_input:-ms-input-placeholder {
  font-size: 16px !important;
  font-weight: 300;
  line-height: 50px;
  color: white !important
}

.header_search_input::input-placeholder {
  font-size: 16px !important;
  font-weight: 300;
  line-height: 50px;
  color: white !important
}

.custom_dropdown {
  width: calc((100% - 50px) * 0.399);
  height: 50px;
  float: left;
  padding-left: 26px
}

.custom_dropdown::before {
  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  width: 1px;
  height: 28px;
  background: #FFFFFF;
  content: ''
}

.custom_dropdown_list i {
  display: inline-block;
  color: #4A4A4A;
  font-size: 10px;
  margin-left: 3px;
  -webkit-transform: translateY(-1px);
  -moz-transform: translateY(-1px);
  -ms-transform: translateY(-1px);
  -o-transform: translateY(-1px);
  transform: translateY(-1px)
}

.custom_dropdown_placeholder {
  display: inline-block;
  font-size: 16px;
  font-weight: 300;
  color: #4A4A4A;
  line-height: 48px;
  cursor: pointer;
}

.custom_list {
  text-align: left;
  position: absolute;
  padding: 0;
  top: 75px;
  left: -15px;
  visibility: hidden;
  opacity: 0;
  box-shadow: 0 0 25px rgba(63, 78, 100, 0.15);
  -webkit-transition: opacity 0.2s ease;
  -moz-transition: opacity 0.2s ease;
  -ms-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
  transition: all 0.2s ease
}

.custom_list.active {
  visibility: visible;
  opacity: 1;
  top: 50px;
  box-shadow: 0 0 25px rgba(63, 78, 100, 0.15);
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -ms-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: all 0.3s ease
}

.custom_list li {
  height: 35px;
  padding-left: 15px;
  padding-right: 15px;
  background: #FFFFFF
}

.custom_list li a {
  display: block;
  color: #4A4A4A;
  line-height: 35px;
  border-bottom: solid 1px #FFFFFF;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease
}

.custom_list li a:hover {
  color: #007DB9;
}

select {
  display: inline;
  border: 0;
  margin-left: 10px;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-bottom: 2px solid #4A4A4A;
  color: #007DB9;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out
}

select:hover {
  cursor: pointer
}

select option {
  border: 0;
  border-bottom: 1px solid #4A4A4A;
  padding: 10px;
  -webkit-appearance: none;
  -moz-appearance: none
}

.header_search_button {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 100%;
  background: #007DB9;
  border: none;
  outline: none;
  cursor: pointer;
  
}

.wishlist_text a {
  font-size: 18px;
  font-weight: 400;
  color: white;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease
}

.wishlist_text a:hover {
  color: #007DB9
}

.wishlist_count {
  margin-top: -2px;
  color: white;
  font-size: 14px
}

.cart_text a {
  font-size: 18px;
  font-weight: 400;
  color: white;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease
}

.cart_text a:hover {
  color: #007DB9;
}

.cart_price {
  font-size: 14px;
  color: white;
  margin-top: -2px
}

.main_nav {
  width: 100%;
  border-top: solid 1px #FFFFFF;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
  background: #FFFFFF;
}

.header.scrolled .main_nav {
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease
}

.main_nav_content {
  width: 100%;
  height: 60px
}

.cat_menu_container {
  width: 293px;
  height: 100%;
  background: #007DB9;
  padding-left: 35px;
  cursor: pointer;
  z-index: 1
}

.cat_menu_title {
  height: 100%
}

.cat_burger {
  width: 18px;
  height: 14px
}

.cat_burger span:nth-child(2) {
  top: 6px
}

.cat_burger span:nth-child(3) {
  top: 12px
}

.cat_menu_text {
  font-size: 18px;
  font-weight: 400;
  color: #FFFFFF;
  text-transform: uppercase;
  margin-left: 20px
}

.cat_menu_container ul {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.1);
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -ms-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: all 0.3s ease
}

.cat_menu_container>ul {
  padding-top: 13px
}

.cat_menu_container:hover .cat_menu {
  visibility: visible;
  opacity: 1
}

.cat_menu li {
  display: block;
  position: relative;
  width: auto;
  height: 46px;
  border-bottom: solid 1px #FFFFFF;
  padding-left: 35px;
  padding-right: 30px;
  white-space: nowrap
}

.cat_menu li.hassubs>a i {
  display: block
}

.cat_menu li a {
  display: block;
  position: relative;
  font-size: 16px;
  font-weight: 300;
  color: #030f27;
  line-height: 46px;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease
}

.cat_menu li a:hover {
  color: #007DB9;
}

.cat_menu li a i {
  display: none;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0;
  font-size: 12px
}

.cat_menu li ul {
  display: block;
  position: absolute;
  top: 35px;
  left: 100%;
  visibility: hidden;
  opacity: 0;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.1)
}

.cat_menu li:hover>ul {
  top: 0;
  visibility: visible;
  opacity: 1
}

.main_nav_dropdown li {
  margin-right: 35px
}

.main_nav_dropdown li:last-child {
  margin-right: 0px
}

.main_nav_dropdown li a {
  font-size: 18px;
  font-weight: 400;
  color: white;
  line-height: 60px
}

.main_nav_dropdown li a:hover {
  color: #030f27;
}

.main_nav_dropdown li li {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: 0px
}

.menu_trigger_container {
  display: none;
  width: auto;
  height: 100%;
  padding-right: 25px;
  padding-left: 25px;
  cursor: pointer
}

.menu_trigger {
  height: 100%
}

.menu_burger_inner {
  display: inline-block
}

.menu_trigger_text {
  display: inline-block;
  font-size: 20px;
  font-weight: 400;
  color: #FFFFFF;
  text-transform: uppercase;
  margin-right: 16px
}

.fa-heart, .fa-shopping-cart {
  font-size: 35px;
  color: #007DB9;
}
.fa-shopping-cart:hover{
  color: #007DB9;
}
.page_menu {
  margin-top: 0px;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease
}

.page_menu_content {
  height: 0px;
  background-image: linear-gradient(#007DB9, #86BBBD);  
  padding-left: 36px;
  padding-right: 15px;
  overflow: hidden
}

.page_menu_search {
  display: none;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px
}

.page_menu_search_input {
  width: 100%;
  height: 40px;
  background: #FFFFFF;
  border: none;
  outline: none;
  padding-left: 25px
}

.page_menu_item {
  display: block;
  position: relative;
  border-bottom: solid 1px #030f27;
}

.page_menu_item>a {
  display: block;
  color: white;
  font-weight: 500;
  height: 50px;
  line-height: 50px;
  font-size: 19px;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease
}

.page_menu_item>a:hover {
  color: #030f27;
}

.page_menu_item a i {
  margin-left: 8px
}

.page_menu_item.has-children>a>i {
  display: inline-block
}

.page_menu_selection {
  margin: 0;
  width: 100%;
  height: 0px;
  overflow: hidden;
  z-index: 1
}

.page_menu_selection li {
  padding-left: 10px;
  padding-right: 10px;
  line-height: 50px
}

.page_menu_selection li a {
  display: block;
  color: white;
  border-bottom: solid 1px #030f27 !important;
  font-size: 18px;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -ms-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: all 0.3s ease
}

.page_menu_selection li a:hover {
  color: #030f27;
}

.page_menu_selection li:last-child a {
  border-bottom: none
}

.menu_contact_item {
  display: inline-block;
  font-size: 12px;
  font-weight: 300;
  line-height: 56px;
  margin-right: 40px;
  color: #FFFFFF
}

.menu_contact_item:not(:first-child) {
  margin-right: 0px
}

.menu_contact_item a {
  font-size: 12px;
  font-weight: 300;
  line-height: 56px;
  color: #FFFFFF;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease
}

.menu_contact_item a:hover {
  color: #4A4A4A;
}

.menu_contact_item:last-child {
  margin-right: 0px
}

.menu_contact_icon {
  display: inline-block;
  margin-right: 14px;
  -webkit-transform: translateY(-2px);
  -moz-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  -o-transform: translateY(-2px);
  transform: translateY(-2px)
}

@media (min-width: 1200px) {
  .container {
      max-width: 1300px !important
  }
}

@media only screen and (max-width: 1199px) {
  .main_nav_dropdown li {
      margin-right: 30px
  }

  .main_nav_dropdown li a {
      font-size: 16px
  }
}

@media only screen and (max-width: 991px) {
  .header_search {
      height: 50px;
      transform: translateY(-130%);
  }


  .custom_dropdown {
      text-align: left
  }

  .main_nav {
      margin-top: 0
  }



  .logo_container,
  .wishlist_cart {
      height: 125px
  }

  .main_nav_content {
      background: #007DB9;
  }

  .menu_trigger_container {
      display: block
  }

  .top_bar {
      height: 40px
  }

  .top_bar_contact_item {
      font-size: 12px;
      margin-right: 20px;
      line-height: 40px
  }

  .top_bar_contact_item a {
      font-size: 12px;
      line-height: 40px
  }

  .top_bar_icon {
      margin-right: 4px
  }

  .top_bar_icon img {
      width: 70%
  }


  .top_bar_user a {
      font-size: 12px;
      line-height: 40px
  }

  .user_icon {
      -webkit-transform: translateY(-1px);
      -moz-transform: translateY(-1px);
      -ms-transform: translateY(-1px);
      -o-transform: translateY(-1px);
      transform: translateY(-1px);
      width: 12px
  }

  .top_bar_user a {
    margin-left: 13px;
  }
}

@media only screen and (max-width: 767px) {


  .main_nav {
      margin-top: 0px
  }

}

@media (max-width: 795px) {
 

  #foooter-col-1 {
    width: 50%;
  }
}

@media only screen and (max-width: 575px) {
  h2 {
      font-size: 24px
  }

  p {
      font-size: 13px
  }

  

  .logo_container,
  .wishlist_cart {
      height: 72px
  }

  .logo a {
      font-size: 24px
  }

  .cat_burger {
      width: 16px;
      height: 12px
  }

  .cat_burger span:nth-child(2) {
      top: 5px
  }

  .cat_burger span:nth-child(3) {
      top: 10px
  }

  .menu_trigger_text {
      font-size: 13px;
      margin-right: 10px
  }

  .wishlist {
      margin-right: 23px
  }

  .wishlist_content {
      margin-left: 6px
  }

  .wishlist_text {
      display: none
  }

  .cart_text {
      display: none
  }

  .wishlist_text a,
  .cart_text a {
      font-size: 14px
  }

  .wishlist_count,
  .cart_price {
      font-size: 12px
  }

  .cart_content {
      margin-left: 18px
  }

  .cart_icon {
      width: 17px
  }

  .top_bar_user {
      margin-left: 0px
  }

  
  .main_nav {
      width: calc(100% + 30px);
      margin-left: -15px;
      margin-right: -15px;
      margin-top: 0px
  }

  .main_nav_content {
      height: 35px
  }

  .menu_trigger_container {
      padding-right: 15px
  }

  .page_menu_item>a {
      font-size: 12px
  }

  .page_menu_selection li a {
      font-size: 12px
  }

  .button {
      height: 32px
  }

  .button a {
      font-size: 12px;
      line-height: 32px;
      padding-left: 25px;
      padding-right: 25px
  }
}


/** Header Styling Ends **/





/* Slider Styling Starts */
/* .content h2 {
  font-size: 90%;
  color: #86BBBD;
  font-weight: 600;
}

.main {
	max-width: 80rem;
	margin: 0 auto;
  padding: 0 2rem;
}

.cd-slider {
	position: relative;
	width: 100%;
	height: 40rem; jjm -9;
	overflow: 'hidden';
	margin-bottom: 2rem;
}
.cd-slider li {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	visibility: hidden;
	transition: visibility 0s 1s;
  will-change: visibility;
}
.image {
	position: absolute;
	top: 0;
	left: 0;
	width: 70%;
  height: 100%;
	background-size: cover;
	background-position: 50% 50%;
	clip: rect(0, 80rem, 50rem, 80rem);
	transition: clip .5s cubic-bezier(0.99, 0.01, 0.45, 0.9) .5s;
  will-change: clip;
}
.content {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	padding: 2rem 0 0 2rem;
	font-size: 9rem;
	text-align: right;
}
.content h2 {
	text-overflow: ellipsis;
	overflow: hidden;
	transform: translateY(-30%);
	opacity: 0;
	transition: transform .5s, opacity .5s;
  will-change: transform, opacity;
}
.content a {
	display: inline-block;
	font-size: 5rem;
	padding: 1.5rem;
	opacity: 0;
	transform: translateY(-100%);
	transition: transform .5s .1s, opacity .5s .1s;
  will-change: transform, opacity;
  color: #007DB9;
  font-weight: 500;
}

li.current {
	visibility: visible;
	transition-delay: 0s;
}
li.current .image {
	clip: rect(0, 80rem, 50rem, 0);
}
li.current .content h2 {
	transform: translateY(0);
	opacity: 1;
	transition-delay: 1s;
}
li.current .content a {
	transform: translateY(0);
	opacity: 1;
	transition-delay: 1.1s;
}

li.prev_slide .image {
	clip: rect(0, 0, 50rem, 0);
}

navv {
	position: absolute;
	bottom: 0;
	right: 0;
  color: #007BD9;
	z-index: 2;
}

.prev, .next, .counter {
	vertical-align: middle;
}

.prev, .next {
	position: relative;
	display: inline-block;
	height: 5rem;
	width: 5rem;
  border: 0;
  cursor: pointer;
  background: transparent;
}

.prev::before, .next::before {
	content: '';
	position: absolute;
	top: 50%;
  left: 0;
	transform: translateY(-50%);
	border: .8rem solid transparent;
	border-right-width: 1rem;
	border-right-color: #000;
	border-left-width: 0;
	width: 0;
	height: 0;
}

.prev::after, .next::after {
	content: '';
	position: absolute;
	top: 50%;
	transform: translateY(-50%) translateZ(0);
	left: .5rem;
	background: #000;
	height: .1rem;
	min-height: 1px;
	width: 2.5rem;
	transition: width .3s;
}

.next::before {
	right: 0;
  left: auto;
	border-left-width: 1rem;
	border-left-color: #000;
	border-right-width: 0;
}

.next::after {
	right: .5rem;
	left: auto;
}

.counter {
	display: inline-block;
	font-size: 2rem;
	font-family: serif;
	font-style: italic;
}

.counter span:last-child::before {
	content: '/';
	margin: 0 1rem;
}

.prev:hover::after, .next:hover::after {
	width: 3.5rem;
}

@media screen and ( max-width: 550px ) {
	.image { width: 100%; }
	.content { padding-right: 2rem; }
	nav { left: 0; right: auto; }
} */




/** Slider Styling Ends **/

/* USPs Styling Starts */
.fa-plane-departure, .fa-medal,
.fa-truck, .fa-shield-alt {
  font-size: 55px;
  color: #030f27;
}

.fa-plane-departure:hover, .char_title:hover, 
.fa-medal:hover, .fa-truck:hover,
.fa-shield-alt:hover {
  color: white;
}

.char_icon {
  margin-top: 18px;
  margin-left: 23px;
}

.char_item {
  width: 105%;
  height: 100px;
  /* box-shadow: 0px 8px 22px #000000; */
  /* border: solid 3px #030f27; */
  background-image: linear-gradient(#039ee6, #04e0e7);
}

.char_item:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  transform: scale(1.1);
} 

.char_content {
  margin-top: 22px;
}

.char_title {
  font-size: 20px;
  font-weight: 600;
  color: #030f27;
}

.char_subtitle {
  font-size: 13px;
  font-weight: 400;
  color: white;
  margin-top: 3px
}
/** USPs Styling Ends **/

/* Banner Styling Starts*/
h3 {
  color: #030f27 !important;
  font-size: 25px !important;
}

button:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: none;
  outline-width: 0
}

.card1 {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: none;
  background-image: linear-gradient(#039ee6, #04e0e7);  padding-bottom: 0px;
  padding-top: 20px;
  margin-top: 80px;
  margin-bottom: 0px;
  box-shadow: 0px 8px 45px #000000;

}

.card2 {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: none;
  height: 130px;
  background-color: #030f27;
  padding-bottom: 0px;
  padding-top: 20px;
  margin-top: 0px;
  margin-bottom: 80px;
  position: relative;
}

.left-side {
  height: 100%
}

.btn-blue {
  background: #030f27;
  font-size: 16px;
  color: #007DB9;
  font-weight: 700;
  width: 150px;
  height: 40px;
  border: 2px solid white;
  text-transform: uppercase;
  margin-top: 20px;
  border-radius: 9px;;
}

.btn-blue:hover {
  background: #030f27;
  color: white;
}

.fa-angle-right {
  font-size: 18px
}

.fit-image {
  width: 100%;
  object-fit: cover
}

.girl-img {
  height: 320px;
  width: 443px;
}

.blocks {
  position: absolute;
  top: -100px;
  background-color: #000000;
  color: white
}

.img-block {
  width: 130px;
  height: 150px;
  margin: 10px;
  cursor: pointer
}

#ban-1:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    transform: scale(1.1);
}

@media screen and (max-width: 768px) {
  .card2 {
      height: 160px
  }

  .blocks {
      top: -8px
  }

  .img-block {
      width: 80px;
      height: 100px;
      margin-bottom: 5px
  }

}
/** Banner Styling Ends **/

/* Catogerie Styling Starts */
/* .text-left {
  border-bottom: 2px solid #007BD9;
  width: 20%;
}

.mt-50 {
  margin-top: 50px
}

.card {
  border-radius: 7px !important;
  border: 3px solid #030f27 !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.card-img-tiles {
  display: block;
  border-bottom: 3px solid #030f27;
}

a {
  color: #007DB9;
  text-decoration: none !important;
}

.card-img-tiles>.inner {
  display: table;
  width: 100%
}

.card-img-tiles .main-img,
.card-img-tiles .thumblist {
  display: table-cell;
  width: 65%;
  padding: 15px;
  vertical-align: middle
}

.card-img-tiles .main-img>img:last-child,
.card-img-tiles .thumblist>img:last-child {
  margin-bottom: 0
}

.card-img-tiles .main-img>img,
.card-img-tiles .thumblist>img {
  display: block;
  width: 100%;
  margin-bottom: 6px
}

#banner-1:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    transform: scale(1.1);
}

.thumblist {
  width: 35%;
  border-left: 3px solid #030f27 !important;
  display: table-cell;
  width: 65%;
  padding: 15px;
  vertical-align: middle
}

.card-img-tiles .thumblist>img {
  display: block;
  width: 100%;
  margin-bottom: 6px
}

.btn-group-sm>.btn,
.btn-sm {
  padding: .45rem .5rem !important;
  font-size: .875rem;
  line-height: 1.5;
  border-radius: .2rem
}

@media (min-width: 793px) {
  .text-left {
    border-bottom: 2px solid #007BD9;
    width: 33%;
  }
}
/** Catogerie Styling Ends **/

/* Deals Styling Starts */
.mydiv {
  margin-top: 50px;
  margin-bottom: 50px
}

.padding-0 {
  padding-right: 5px;
  padding-left: 5px
}

.img-style {
  margin-left: -11px;
  box-shadow: 0px 8px 45px #000000;
  border-radius: 5px;
  max-width: 104% !important
}

.m-t-20 {
  margin-top: 20px
}

.bbb_background {
  background-color: white !important
}

.ribbon {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: absolute
}

.ribbon::before,
.ribbon::after {
  position: absolute;
  z-index: -1;
  content: '';
  display: block;
  border: 5px solid #007DB9;
}

.ribbon span {
  position: absolute;
  display: block;
  width: 225px;
  padding: 8px 0;
  background-color: #007DB9;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
  color: white;
  font: 100 18px/1 'Lato', sans-serif;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  text-transform: uppercase;
  text-align: center
}

.ribbon-top-right {
  top: -10px;
  right: -10px
}

.ribbon-top-right::before,
.ribbon-top-right::after {
  border-top-color: #000000;
  border-right-color: #000000;
}

.ribbon-top-right::before {
  top: 0;
  left: 17px
}

.ribbon-top-right::after {
  bottom: 17px;
  right: 0
}

.ribbon-top-right span {
  left: -25px;
  top: 30px;
  transform: rotate(45deg)
}


.bbb_deals_featured {
  width: 100%
}

.bbb_deals {
  width: 100%;
  margin-right: 7%;
  padding-top: 80px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 34px;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-top: 0px
}

.bbb_deals_title {
  position: absolute;
  top: 27px;
  left: 40px;
  font-size: 18px;
  font-weight: 500;
  color: #000000
}

.bbb_deals_slider_container {
  width: 100%
}

.bbb_deals_item {
  width: 100% !important
}

.bbb_deals_image {
  width: 100%
}

.bbb_deals_image img {
  width: 100%
}

.bbb_deals_content {
  margin-top: 33px
}

.bbb_deals_item_category a {
  font-size: 14px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5)
}

.bbb_deals_item_price_a {
  font-size: 14px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6)
}

.bbb_deals_item_name {
  font-size: 24px;
  font-weight: 400;
  color: #000000
}

.bbb_deals_item_price {
  font-size: 24px;
  font-weight: 500;
  color: #030f27
}

.available {
  margin-top: 19px
}

.available_title {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 400
}

.available_title span {
  font-weight: 700
}

@media only screen and (max-width: 991px) {
  .bbb_deals {
      width: 109%;
      margin-right: 0px
  }
}

@media only screen and (max-width: 575px) {
  .bbb_deals {
      padding-left: 15px;
      padding-right: 15px
  }

  .bbb_deals_title {
      left: 15px;
      font-size: 16px
  }

  .bbb_deals_slider_nav_container {
      right: 5px
  }

  .bbb_deals_item_name,
  .bbb_deals_item_price {
      font-size: 20px
  }
}
/** Deals Styling Ends **/

/* Collection Styling Starts */
#slider-text {
  padding-top: 40px;
  display: block;
}

#slider-text .col-md-6 {
  overflow: hidden;
}

#slider-text h2 {
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 3px;
  margin: 30px auto;
  padding-left: 40px;
}

#slider-text h2::after {
  border-top: 2px solid #c7c7c7;
  content: "";
  position: absolute;
  bottom: 35px;
  width: 100%;
}

#itemslider h4 {
  font-weight: 400;
  font-size: 12px;
  margin: 10px auto 3px;
}

#itemslider h5 {
  font-weight: bold;
  font-size: 12px;
  margin: 3px auto 2px;
}

#itemslider h6 {
  font-weight: 300;;
  font-size: 10px;
  margin: 2px auto 5px;
}

#slider-control img.carousel-showmanymoveone .carousel-control{
  padding-top: 60%;
  margin: 0 auto;
}

@media screen and (max-width: 992px){
#slider-control img {
  padding-top: 70px;
  margin: 0 auto;
}
}

.carousel-showmanymoveone .carousel-control {
  width: 2%;
  background-image: none;
}

.carousel-showmanymoveone .carousel-control.left {
  margin-left: 5px;
}

.carousel-showmanymoveone .carousel-control.right {
  margin-right: 5px;
}

.carousel-showmanymoveone .cloneditem-1,
.carousel-showmanymoveone .cloneditem-2,
.carousel-showmanymoveone .cloneditem-3,
.carousel-showmanymoveone .cloneditem-4,
.carousel-showmanymoveone .cloneditem-5 {
  display: none;
}

@media all and (min-width: 768px) {
  .carousel-showmanymoveone .carousel-inner > .active.left,
  .carousel-showmanymoveone .carousel-inner > .prev {
    left: -50%;
  }

  .carousel-showmanymoveone .carousel-inner > .active.right,
  .carousel-showmanymoveone .carousel-inner > .next {
    left: 50%;
  }

  .carousel-showmanymoveone .carousel-inner > .left,
  .carousel-showmanymoveone .carousel-inner > .prev.right,
  .carousel-showmanymoveone .carousel-inner > .active {
    left: 0;
  }

  .carousel-showmanymoveone .carousel-inner .cloneditem-1 {
    display: block;
  }
}

@media all and (min-width: 768px) and (transform-3d), all and (min-width: 768px) and (-webkit-transform-3d) {
  .carousel-showmanymoveone .carousel-inner > .item.active.right,
  .carousel-showmanymoveone .carousel-inner > .item.next {
    -webkit-transform: translate3d(50%, 0, 0);
    transform: translate3d(50%, 0, 0);
    left: 0;
  }

  .carousel-showmanymoveone .carousel-inner > .item.active.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
    left: 0;
  }

  .carousel-showmanymoveone .carousel-inner > .item.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev.right,
  .carousel-showmanymoveone .carousel-inner > .item.active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    left: 0;
  }
}

@media all and (min-width: 992px) {
  .carousel-showmanymoveone .carousel-inner > .active.left,
  .carousel-showmanymoveone .carousel-inner > .prev {
    left: -16.666%;
  }

  .carousel-showmanymoveone .carousel-inner > .active.right,
  .carousel-showmanymoveone .carousel-inner > .next {
    left: 16.666%;
  } 

  .carousel-showmanymoveone .carousel-inner > .left,
  .carousel-showmanymoveone .carousel-inner > .prev.right,
  .carousel-showmanymoveone .carousel-inner > .active {
    left: 0;
  }

  .carousel-showmanymoveone .carousel-inner .cloneditem-2,
  .carousel-showmanymoveone .carousel-inner .cloneditem-3,
  .carousel-showmanymoveone .carousel-inner .cloneditem-4,
  .carousel-showmanymoveone .carousel-inner .cloneditem-5,
  .carousel-showmanymoveone .carousel-inner .cloneditem-6  {
    display: block;
  }
}

@media all and (min-width: 992px) and (transform-3d), all and (min-width: 992px) and (-webkit-transform-3d) {
  .carousel-showmanymoveone .carousel-inner > .item.active.right,
  .carousel-showmanymoveone .carousel-inner > .item.next {
    -webkit-transform: translate3d(16.666%, 0, 0);
    transform: translate3d(16.666%, 0, 0);
    left: 0;
  }

  .carousel-showmanymoveone .carousel-inner > .item.active.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev {
    -webkit-transform: translate3d(-16.666%, 0, 0);
    transform: translate3d(-16.666%, 0, 0);
    left: 0;
  }
  
  .carousel-showmanymoveone .carousel-inner > .item.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev.right,
  .carousel-showmanymoveone .carousel-inner > .item.active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    left: 0;
  }
} */
/** Collection Styling Ends **/

/* Recent Styling Starts */
/* @-webkit-keyframes hover-buttontool {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
}

@-moz-keyframes hover-buttontool {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
}

@-o-keyframes hover-buttontool {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
}

@keyframes hover-buttontool {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
}

@-webkit-keyframes hover-label {
  0% {
    -webkit-transform: translate3d(40px, 0, 0) rotate(180deg);
    -moz-transform: translate3d(40px, 0, 0) rotate(180deg);
    -ms-transform: translate3d(40px, 0, 0) rotate(180deg);
    -o-transform: translate3d(40px, 0, 0) rotate(180deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(0deg);
    -moz-transform: translate3d(0, 0, 0) rotate(0deg);
    -ms-transform: translate3d(0, 0, 0) rotate(0deg);
    -o-transform: translate3d(0, 0, 0) rotate(0deg);
  }
}

@-moz-keyframes hover-label {
  0% {
    -webkit-transform: translate3d(40px, 0, 0) rotate(180deg);
    -moz-transform: translate3d(40px, 0, 0) rotate(180deg);
    -ms-transform: translate3d(40px, 0, 0) rotate(180deg);
    -o-transform: translate3d(40px, 0, 0) rotate(180deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(0deg);
    -moz-transform: translate3d(0, 0, 0) rotate(0deg);
    -ms-transform: translate3d(0, 0, 0) rotate(0deg);
    -o-transform: translate3d(0, 0, 0) rotate(0deg);
  }
}

@-o-keyframes hover-label {
  0% {
    -webkit-transform: translate3d(40px, 0, 0) rotate(180deg);
    -moz-transform: translate3d(40px, 0, 0) rotate(180deg);
    -ms-transform: translate3d(40px, 0, 0) rotate(180deg);
    -o-transform: translate3d(40px, 0, 0) rotate(180deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(0deg);
    -moz-transform: translate3d(0, 0, 0) rotate(0deg);
    -ms-transform: translate3d(0, 0, 0) rotate(0deg);
    -o-transform: translate3d(0, 0, 0) rotate(0deg);
  }
}

@keyframes hover-label {
  0% {
    -webkit-transform: translate3d(40px, 0, 0) rotate(180deg);
    -moz-transform: translate3d(40px, 0, 0) rotate(180deg);
    -ms-transform: translate3d(40px, 0, 0) rotate(180deg);
    -o-transform: translate3d(40px, 0, 0) rotate(180deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(0deg);
    -moz-transform: translate3d(0, 0, 0) rotate(0deg);
    -ms-transform: translate3d(0, 0, 0) rotate(0deg);
    -o-transform: translate3d(0, 0, 0) rotate(0deg);
  }
}

@-webkit-keyframes hover-cart {
  0% {
    -webkit-transform: rotateX(360deg);
    -moz-transform: rotateX(360deg);
    -ms-transform: rotateX(360deg);
    -o-transform: rotateX(360deg);
  }
  100% {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
  }
}
@-moz-keyframes hover-cart {
  0% {
    -webkit-transform: rotateX(360deg);
    -moz-transform: rotateX(360deg);
    -ms-transform: rotateX(360deg);
    -o-transform: rotateX(360deg);
  }
  100% {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
  }
}

@-o-keyframes hover-cart {
  0% {
    -webkit-transform: rotateX(360deg);
    -moz-transform: rotateX(360deg);
    -ms-transform: rotateX(360deg);
    -o-transform: rotateX(360deg);
  }
  100% {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
  }
}

@keyframes hover-cart {
  0% {
    -webkit-transform: rotateX(360deg);
    -moz-transform: rotateX(360deg);
    -ms-transform: rotateX(360deg);
    -o-transform: rotateX(360deg);
  }
  100% {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
  }
}

.fa-star {
  color: #F7CA18;
}

#list-product {
  padding-top: 10px;
}

.product-block {
  position: relative;
  overflow: hidden;
  background-color: #FFF;
}

.product-block .left-block {
  position: relative;
}

.product-block .image {
  position: relative;
  overflow: hidden;
  text-align: center;
  margin-bottom: 10px;
}

.product-block .product_img_link {
  display: inline-block;
  position: relative;
  overflow: hidden;
  width: 100%;
} 

.product-block .product_img_link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(78, 78, 78, 0.7);
  zoom: 1;
  zoom: 1;
  left: 0;
  top: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  visibility: hidden;
  -webkit-transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.product-block .quick-view {
  position: absolute;
  top: 60%;
  left: 50%;
  margin-left: -18px;
  margin-top: -18px;
  z-index: 40;
  background-color: #007DB9;
  color: #000000;
  opacity: 0;
  filter: alpha(opacity=0);
  visibility: hidden;
  -webkit-transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
} 

.product-block .btn-tooltip {
  display: inline-block;
  width: 36px;
  height: 36px;
  text-align: center;
  background-color: #007DB9;
  zoom: 1;
  background-color: transparent\9;
  line-height: 36px;
  border-radius: 2px;
  font-size: 13px;
  color: #000000;
  margin-right: 2px;
  -webkit-transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  border: 1px solid #000;
}

.product-block .btn-tooltip:hover {
  color: #000000 !important;
  background-color: #007DB9;
  border-color: #030f27;
} */

/* .product-block .btn-tooltip:hover .fa {
  -webkit-animation: hover-buttontool 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1;
  -moz-animation: hover-buttontool 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1;
  -o-animation: hover-buttontool 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1;
  animation: hover-buttontool 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1;
  color: #000000 !important;

}

.product-block .label-new {
  right: 15px;
  background-color: #86BBBD;
  z-index: 30;
}

.product-block .label {
  position: absolute;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 40px;
  top: 10px;
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  padding: 0;
  text-align: center;
  display: inline-block;
}

.product-block .right-block {
  position: relative;
}

.product-block .name {
  text-transform: none;
}

.product-block .name a {
  color: #000000 !important;
  font-size: 14px;
  text-decoration: none;
  text-transform: capitalize;
  padding: 0px;
  font-weight: 600;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  line-height: 24px;
}

.product-block .product-rating {
  font-size: 12px;
}

.product-block .star_content {
  padding: 2px 4px 3px 4px;
}

.product-block .content_price {
  margin: 10px 0;
  display: inline-block;
  width: 100%;
}

.product-block .price {
  color: #383838;
  font-weight: 800;
  font-size: 20px;
  display: inline-block;
}

.product-block .old-price {
  display: inline-block;
  margin: 0 5px;
  color: #888;
  text-decoration: line-through;
}

.product-block .price-percent-reduction {
  background: #007BD9;
  color: #FFF;
  padding: 3px 5px;
  font-size: 12px;
}

.product-block .functional-buttons {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #FFF;
  left: 0;
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  opacity: 0;
  filter: alpha(opacity=0);
}

.product-block:hover .product_img_link:before {
  visibility: visible;
  opacity: 1;
  filter: alpha(opacity=100);
}

.product-block:hover .quick-view {
  top: 50%;
  opacity: 1;
  filter: alpha(opacity=100);
  visibility: visible;
}

.product-block:hover .functional-buttons {
  opacity: 1;
  filter: alpha(opacity=100);
  visibility: visible;
}

.product-block:hover .label {
  -webkit-animation: hover-label 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1;
  -moz-animation: hover-label 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1;
  -o-animation: hover-label 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1;
  animation: hover-label 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1;
}

.ajax_add_to_cart_button {
  float: left;
  margin-right: 7px;
  color: #000000;
  border: 1px solid #030f27;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 800;
  padding: 8px 15px 9px;
  border-radius: 2px;
  -webkit-transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  position: relative;
  background-color: #007DB9;
  z-index: 10;
}

.ajax_add_to_cart_button span {
  display: inline-block;
}

.ajax_add_to_cart_button:before, .ajax_add_to_cart_button:after {
  border-radius: 2px;
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 100%;
  left: 0;
  top: 0;
  z-index: -1;
  -webkit-transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.ajax_add_to_cart_button:after {
  transition-delay: 0.195s;
}

.ajax_add_to_cart_button:hover {
  color: #000000 !important;
  border: 1px solid #000000;
}

.ajax_add_to_cart_button:hover:before {
  background-color: #007DB9 !important;
  zoom: 1;
}

.ajax_add_to_cart_button:hover span {
  -webkit-animation: hover-cart 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1;
  -moz-animation: hover-cart 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1;
  -o-animation: hover-cart 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1;
  animation: hover-cart 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1;
} */

/** Recent Styling Ends **/

/* Partners Styling Starts */
::selection {
  background: #a4ecab;
}
::-moz-selection {
  background: #a4ecab;
}
::-webkit-selection {
  background: #a4ecab;
}

::-webkit-input-placeholder {
  color: #ccc;
  font-style: italic;
}
:-moz-placeholder {
  color: #ccc;
  font-style: italic;
}
::-moz-placeholder {
  color: #ccc;
  font-style: italic;
}
:-ms-input-placeholder {
  color: #ccc !important;
  font-style: italic;
}

br {
  display: block;
  line-height: 2.2em;
}
hr {
  width: 75%;
  border: 1px solid #ccc;
  margin-bottom: 15px;
}

#topbar {
  background: #4f4a41;
  padding: 10px 0 10px 0;
  text-align: center;
  height: 36px;
  overflow: hidden;
}
#topbar a {
  color: #fff;
  font-size: 1.3em;
  line-height: 1.25em;
  text-decoration: none;
  opacity: 0.5;
  font-weight: bold;
}
#topbar a:hover {
  opacity: 1;
}

#client-content {
  display: block;
  width: 100%;
  background: #4440400a;
  margin-top: 30%;
  margin-bottom: 30%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

#clients {
  display: block;
}

#clients .clients-wrap {
  display: block;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

#clients .clients-wrap ul {
  display: block;
  list-style: none;
  position: relative;
}

#clients .clients-wrap ul li {
  display: block;
  float: left;
  position: relative;
  width: 140px;
  height: 55px;
  line-height: 55px;
  text-align: center;
}
#clients .clients-wrap ul li img {
  vertical-align: middle;
  max-width: 100%;
  max-height: 100%;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  transition: all 0.3s linear;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
  filter: alpha(opacity=65);
  opacity: 0.65;
}
#clients .clients-wrap ul li img:hover {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}
/** Partners Styling Ends **/

/* Footer Styling Starts */
/* footer {
  color: #fff !important;
}

.footer-copyright {
    margin-top: 13px
}

a {
    text-decoration: none !important;
    color: white !important;
}

.fa-facebook-f {
    color: #3b5999
}

.fa-instagram {
    color: #e4405f
}

.fa-youtube {
    color: #cd201f
}

.fa-twitter {
    color: #55acee
}

.fa-facebook-f, .fa-instagram,
.fa-youtube, .fa-twitter {
  font-size: 20px;
}

h6 {
  font-size: 18px !important;
  letter-spacing: 2px;
  font-weight: 100;
}

.footer-copyright p {
    margin-top: 10px;
    letter-spacing: 2px;
} */

/* Footer section start*/

.footer {
  background-color: #030f27;
  color: white;
  font-family: 'Roboto Slab', serif;
  width: 100% !important;
}

.footer-widgets {
  display: flex;
  justify-content: space-around;
}

.footer-widgets h3 {
  font-family: 'Montserrat', sans-serif;
  color: #07b1f4 !important;
}

.footer ul {
  list-style: none;
  margin: 1em 0;
  padding: 0;
  display: block;
}

.footer ul>li {
  margin: 5px 0;
  text-transform: capitalize;
  color: #FF9900;
  font-weight: 600;
  padding: 2px 10px;
  margin-right: 10px;
}

.footer ul>li>a>i {
  margin-right: 10px;
  background: #ffffff;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  border-radius: 100%;
  color: #6d2c57;
}

.footer a {
  text-decoration: none;
  color: white;
  font-weight: lighter;
}

.footer a:hover {
  text-decoration: underline;
  color: #07b1f4;
}

.copyright {
  text-align: center;
  color: #ffbd59;
  margin: 1em 0;
  display: inline-block;
  width: 100%;
}

.footer ul>li>a>i:hover {
  transition: 0.5s;
  transform: scale(1.4);
  background-color: #ffbd59;
  /* background-color: #FF6600; */
}

.newsletter input {
  line-height: 36px;
  padding: 0 1em;
  height: 36px;
  font-weight: bold;
  outline: none;
  float: left;
  border: none;
}

.newsletter button {
  background-color: #ffbd59;
  border: none;
  height: 36px;
  line-height: 36px;
  font-weight: bold;
  padding: 0 1em;
  float: left;
}

.newsletter button:hover {
  background-color: #ffbd59;
  color: white;
  cursor: pointer;
}

.product-details {
  display: flex;
  margin: 50px 0;
}

.product-image {
  flex: 1;
}

.product-image img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.product-description {
  flex: 1;
  margin-left: 10px;
  padding: 10px;
}

.product-description small {
  background-color: #FF6600;
  color: #ffffff;
  padding: 3px 5px;
}

.product-description h2 {
  padding: 10px 0;
  text-transform: uppercase;
  color: #555555;
}

.product-description .prod-short-desc {
  padding: 10px 0 !important;
}

.product-description .product-rating {
  padding: 10px 0;
  color: #990066;
}

.product-description .product-price {
  padding: 10px 0;
  font-size: 30px;
  color: #FF6600;
}

.product-description .available {
  padding: 10px 0;
}

.product-description .qty-btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 20px 0;
}

.qty-btn>p {
  margin-right: 10px;
}

.qty-btn>input {
  width: 50px;
  height: 30px;
  border: 1px solid #FF6600;
  padding: 10px;
  outline: none;
  margin: 0 10px;
}

.qty-btn .prod-cart-btn {
  margin: 0 10px;
  padding: 8px 10px;
  border: none;
  background-color: #FF6600;
  color: #ffffff;
  cursor: pointer;
  transition: all .5s ease;
}

.prod-cart-btn:hover {
  background-color: #FF9900;
}
.social-links ul li a i {
  color: #07b1f4;
}

/* Styling For Zoom Image */


/* Footer section End */
/** Footer Styling Ends **/


@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .nav-link{ color: #fff;  }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}
.dropdown-menu li a{
  color: #007BD9 !important;
}
.navbar{
  background-image: linear-gradient(#039ee6, #04bae7);
}

#product{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
#product .card{
  margin-top: 30px;
}
